.c1{
    background-color: rgb(45, 45, 162);
    text-align: center;
}
.c2{
    text-align: center;
}
.c21{
    background-color: red;
}
.c22{
    background-color: rgb(255, 242, 0);
}
.c23{
    background-color: blue;
}
.c24{
    background-color: orange;
}
.c25{
    background-color: rgb(57, 10, 78);
}